@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-fifa26: var(--font-fifa-26);
  --font-fwc2026: var(--font-fwc-2026);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), sans-serif;
}
